.pricing-header1{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px; 
    height: 550px;
    width: 600px;     
}
.label, input{
    padding: 2px;
    margin: 5px;
color: aliceblue;
}
.btn{
    padding: 5px;
    margin: 10px;
}